
@-webkit-keyframes halfspin {
  to {
    transform: rotate( 180deg );
  }
}

.loadingContainer {
  color: white;
  z-index: 1000;
  position: fixed;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  border-top-right-radius: 4px;
}

.loadingContainer p {
  margin: 4px 0 4px 15px;
  float: left;
  color: #DDD;
  font-size: 14px;
}

.loading {
  z-index: 100;
  width: 24px;
  height: 24px;
  float: left;
}

.loading:before {
  display: block;
  
  width: 22px;
  height: 22px;
  
  border-top: 2px solid #ccc;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid #ccc;
  
  content: "";
  -webkit-animation: halfspin 0.75s ease infinite;
  animation: halfspin 0.75s ease infinite;
  border-radius: 100%;
}